<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria de Imagens</title>
</head>
<body>
    <h1>Galeria de Imagens</h1>
    <div>
        <h2>Cajueiro</h2>
        <img src="{{ MEDIA_URL }}images/Cajueiro.png" alt="Cajueiro">
    </div>

    <div>
        <h2>Genipabu</h2>
        <img src="{{ MEDIA_URL }}images/genipabu.jpg" alt="Genipabu">
    </div>

    <div>
        <h2>Morro do Careca</h2>
        <img src="{{ MEDIA_URL }}images/Morro_do_Careca.jpg" alt="Morro do Careca">
    </div>
</body>
</html>
